html {
   background-color: #ce9e6f;
   color: #3b71ac;
}

body {
  margin: 0;
  padding: 0;


}

.all{
   height:100%
}

nav a {
   color: #eeeeff;
   font-size: 1.0em;
   margin: 3px;
}

.spacer {
   height:50px
}

.bgcolor-1 {
   background-color: #8a8e9e;
   color: #fff;
}
.bgcolor-2 {
   background-color: #ce9e6f;
   color: #3b71ac;
}
